body {
    max-width: 900px;
    margin: auto;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

h2, a {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* 
Types of Selectors 
1. Descendant Selector
2. Descendant Selector Child Selector (>)
3. Adjacent Sibling Selector (+)
4. General Sibling Selector (~)
*/


/* Combinators */

/* The Descendant Combinator */
