body {
    font-family: 'Montserrat', sans-serif;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: green;
}

h3 {
    color: orange;
}

h4 {
    color: purple;
}

/* The Descendant Combinator */
form h1 {
    color: hsl(231, 48%, 48%);
}

/*
form p {
    font-size: 36px;
    color: #c2185b;
}
*/

/* The Child Combinator */
form > p {
    font-size: 36px;
    color: #c2185b;
}

/* The Adjacent Sibling Combinator */

label + input {
    display: block;
    clear: both;
}


* + fieldset {
    margin: 5em 0;
}


/* The General Sibling Combinator */
label ~ input {
    display: block;
    clear: both;
}


/* Attribute Selectors */


/* Matching Space-separated Attribute Values */
[rel~=friend] {
    font-size: 2em;
    background: #eee;
    padding: 4px;
    text-decoration: none;
    border-bottom: 3px solid #ccc;
}

[rel~=friend]:link, [rel~=friend]:visited {
    color: #34444c;
}

[rel~=friend]:hover {
    background-color: #ffeb3b;
    border-color: #ffc107;
}

/* Matching Hyphenated Attribute Values */
[lang|="fr"] {
    font-style: italic;
}
[lang|="fr"] q:before {
    content: '\00AB'; /* Left angle quote */
}
[lang|="fr"] q:after {
    content: '\00AB'; /* Right angle quote */
}

.h3-promo {
    color: black;
}


[class|="promo"] {
    border-top: 5px solid #4caf50;
    color: #555;
    line-height: 1.3;
    padding-top: .5em;
}
[class|="promo"] h3 {
    color:#000;
    font-size: 1.2em;
    margin: 0;
}
[class|="promo"] p {
    margin: 0 0 1em;
}

[class|="promo-entertainment"] {
    border-color: red;
}
[class|="promo-sports"] {
    border-color: blue;
}
[class|="promo-business"] {
    border-color: pink;
}


/* Matching Attribute Values by Substring */
[href^="tel:"] {
    background: #2196f3 /* url(../../images/phone-icon.svg) */ 10px center / 20px auto no-repeat;
    border-radius: 100px;
    padding: .5em 1em .5em 2em;
    color: white;
}


/* Matching Attribute Values by Case */
#MixedCaseIDExample {
    margin-top: 10px;
}

[id=mixedcaseidexample i] {
    color: blue;
}

/* Pseudo-classes and Pseudo-elements */

/* Pseudo-elements */

/* ::before and ::after */
span::after {
    content: ' (Required) ';
    color: #c00;
    font-size: .8em;
}

.helptext::before,
.helptext::after {
    color: hsl(340, 82%, 52%);
}
.helptext::before {
    content: ' ( ';
}
.helptext::after {
    content: ' ) ';
}


/* Creating Typographic Effects with ::first-letter */
p.typo-effect-first-letter::first-letter {
    font-family: serif;
    font-weight: bold;
    font-size: 3em;
    font-style: italic;
    color: #3f51b5;
    line-height: .5em;
}

p.typo-effect2-first-letter::first-letter {
    font: normal 10rem / 1 'Alfa Slab One', serif;
    color: hsl(291, 64%, 30%);
    display: inline-block;
    padding-right: .25rem;
}

p.typo-effect3-first-letter::first-letter {
    float: left;
    font: normal 10rem / 1 'Alfa Slab One', serif;
    color: hsl(200, 18%, 46%);
    margin-bottom: .4rem;
    padding: 1rem 1.4rem 0 0;
    text-shadow: 2px 2px 0px hsl(200, 100%, 10%);
}

p.typo-effect4-first-letter::first-letter {
    float: left;
    font: normal 10rem / 1 'Alfa Slab One', serif;
    color: hsl(200, 18%, 46%);
    margin-bottom: .4rem;
    padding: 1rem 1.4rem 0 0;
    text-shadow: 2px 2px 0px hsl(200, 100%, 10%);
}

p.typo-effect5-first-letter::first-letter {
    float: left;
    font: normal 10rem / 1 'Alfa Slab One', serif;
    color: hsl(200, 18%, 46%);
    margin-bottom: .4rem;
    padding: 1rem 1.4rem 0 0;
    text-shadow: 2px 2px 0px hsl(200, 100%, 10%);
}


/* Creating Typographic Effects with ::first-line */
p.typo-effect6-first-letter::first-line {
    font: bold 1.5em serif;
    font-style: italic;
    color: #673ab7;
}





