main {
    max-width: 960px;
    margin: auto;
}

div.nth-child-nth-last-child {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}


div.numbers {
    background-color: green;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

div.numbers:nth-child(-6n + 10) {
    background-color: yellowgreen;
}