// Media Query Syntax: The Basics
@media screen,
print {
    .media-query-basics {
        color: red;
        font-size: 20px;
    }
}


@media screen and (width: 500px) {
    nav li {
        display: inline;
        font-size: 30px;
    }
}


// Range Media Features and min- and max- Prefixes
@media (max-width: 500px) {
    .min-max-width {
        color: blue;
        font-size: 30px;
    }
}


@media (min-width: 450px) and (max-width: 700px) {
    .min-max-width-swith {
        color: green;
        font-size: 30px;
    }
}


// Discrete Media Features
@media screen and (orientation: portrait) {
    .discrete-media-par-1 {
        color: purple;
        font-size: 30px;
    }
}

@media screen and (orientation: portrait) {
    .discrete-media-par-2 {
        color: gray;
        font-size: 40px;
    }
}

/*
@media screen and ( hover: on-demand ) {
    input[type=checkbox] + label {
        padding: 15em;
    }
}
*/

@media screen and (hover: none) and (pointer:coarse) {
    input[type=checkbox]+label {
        padding: 15em;
    }
}


//

//--------------------

// Sample
.animation {
    animation: pulse 1s linear infinite both;
    background: lightblue;
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion: no-prefence) {
    .animation {
        animation-name: dissolve;
    }
}

//--------------------

.wiggle {
    margin-top: 10px;
    background: lightgreen;
    border-radius: 10px;
    width: 100px;
    padding: 20px;
    text-align: center;
    animation: wiggling 3s ease-in infinite forwards alternate;
}

/*
@media screen and ( prefers-reduced-motion ) {
    .wiggle {
        animation-play-state: paused;
    }
}
*/


// @media screen and not ( prefers-reduced-motion ) also works
@media screen and (prefers-reduced-motion: no-preference) {
    .wiggle {
        animation-play-state: wiggling 3s ease-in infinite forwards alternate running;
    }
}